# Route all to index.php (if it does not match to a file or folder redirect to index.php)
RewriteEngine On
RewriteRule ^$                        index.php  [L]
RewriteCond %{REQUEST_FILENAME}       !-f
RewriteCond %{REQUEST_FILENAME}       !-d
RewriteRule .*                        index.php?page=$1  [QSA,L]

# Rewrite to www
RewriteEngine on
RewriteCond %{HTTP_HOST} ^sprachmuehle.de[nc]
RewriteRule ^(.*)$ https://www.sprachmuehle.de/$1 [r=301,nc]

# Caching
<FilesMatch "\.(jpg|png|svg)$">
    Header set Cache-Control "public, max-age=864000"
</FilesMatch>