/*
 * COLORS:
 * logo purple: #9B225F
 * logo blue: #4BBAD4
 * text 1st: #121212
 * text 2nd: #333333
 * text blue: #194d60
 * boxes bg: #f3f3f3
 */

html {
    font-size: 17px;
}

body {
    font-family: 'News Cycle', sans-serif;
    line-height: 1.9;
}

h1 {
    font-size: 2rem;
    color: #194d60;
}

h2 {
    font-size: 1.7rem;
    color: #194d60;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 12px;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

p, address {
    font-size: 1.12rem;
    line-height: 1.92rem;
}

ol li {
    padding-left: 5px;
}

a {
    color: #42bbd6;
}

a:hover {
    color: #42bbd6;
}

@media all and (max-width: 975px) {
    html {
        /* reduce base font size on smaller screens */
        font-size: 15px;
    }
}

/* HEADER */

nav.menu {
    background-color: white;
}

.logo {
    max-height: 94px;
    padding: 20px 0 16px 0;
    transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
}

.logo-shrink {
    max-height: 70px;
    padding: 15px 0 12px 0;
}

.menu {
    font-size: 1.15rem;
    letter-spacing: 0.4px;
    padding-left: 45px;
    padding-right: 45px;
    transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
}

.menu-shrink {
    font-size: 1.05rem;
}

@media all and (max-width: 576px) {
    .menu {
        padding-bottom: 11px;
        padding-top: 0;
        padding-left: 12px;
        padding-right: 12px;
    }
}

.menu .nav-item.active .nav-link {
    color: #9B225F;
    border-bottom: 2px solid #9B225F;
    padding-bottom: 2px;
}

.menu .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin-left: .6rem;
    margin-right: .6rem;
}

.header-phone {
    font-size: .9rem;
    padding: 11px 21px;
    color: #404040;
    background-color: #f3f3f3;
    border-radius: 30px;
    letter-spacing: .6px;
}

.header-phone-link:hover {
    color: #404040;
}

.header-phone-shrink {
    padding: 8px 13px;
}

.header-phone-link {
    color: #323232;
}

.header-phone-icon {
    margin-right: 4px;
    color: #9B225F;
    height: 27px;
}

.header-phone-icon-shrink {
    height: 24px;
}

@media all and (min-width: 768px) and (max-width: 1025px) {
    .header-phone-link {
        display: none;
    }
}

.highlighted-box {
    margin-right: 0;
    margin-left: 0;
    background-color: #f3f3f3;
    margin-bottom: 30px;
}

.highlighted-box div {
    border-left: 10px solid #9B225F;
    padding: 15px 42px;
    color: #121212;
}

.last-item-on-page {
    margin-bottom: 90px;
}

@media all and (max-width: 768px) {
    .last-item-on-page {
        margin-bottom: 45px;
    }    
}

.text-over-image {
    text-shadow: 1px 1px #ececec;
}

/* MAIN */

.main-container {
    background-color: #ffffff;
}

.main {
    padding: 112px 0 0 0; /* padding-top is needed to appear below absolutely positioned header */
}

@media all and (max-width: 576px) {
    .main {
        padding: 96px 0 0 0;
    }
}

.purple-line {
    background-color: #9B225F;
    width: 58px;
    height: 1px;
    margin: 0;
}

.call-to-action {
    color: #333333;
    background-color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    padding: 10px 23px;
    border-radius: 30px;
    letter-spacing: .6px;
    font-weight: bold;
    font-size: 0.95rem;
    box-shadow: 2px 2px 11px 1px rgba(0, 0, 0, 0.14);
}

.call-to-action-wide {
    margin-top: 10px;
    height: 60px;
    max-width: 31%;
    align-items: center;
    border: none;
    box-shadow: none;
}

@media all and (max-width: 800px) {
    .call-to-action-wide {
        max-width: 100%;
    }
}

.call-to-action:hover {
    color: #9B225F;
    text-decoration: none;
}

.call-to-action-icon {
    font-size: 18px;
    color: #5d5d5d;
    font-weight: bold;
}

.call-to-action:hover .call-to-action-icon {
    color: #9B225F;
}

.centered-text-box {
    text-align: center;
    color: #121212;
    padding: 90px 0 60px 0;
}

@media all and (max-width: 576px) {
    .centered-text-box {
        padding: 45px 0 30px 0;
    }
}

.hero-image-container {
    position: relative;
}

.hero-image {
    text-align: right;
    padding-left: 20px;
    padding-right: 45px;
}

.hero-gray-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: #f3f3f3;
}

.hero-image-text {
    padding-left: 50px;
}

.hero-image-text h1 {
    margin-top: 100px;
}

@media all and (max-width: 768px) {
    .hero-image-text {
        padding-left: 20px;
    }

    .hero-image-text h1 {
        margin-top: 30px;
    }
}

.hero-image-sm {
    width: 80%;
    height: 80%;
}

/* HOME */

.welcome-image-text {
    position: absolute;
    left: 4%;
    bottom: 24%;
}

.welcome-image-text h4 {
    margin-top: 20px;
    font-size: 1.2rem;
    letter-spacing: .4px;
}

@media all and (max-width: 745px) {
    .welcome-image-text {
        bottom: 10%;
    }
}

@media all and (max-width: 448px) {
    .welcome-image-text {
        bottom: 4%;
    }

    .welcome-image-text h1 {
        font-size: 1.6rem;
    }

    .welcome-image-text h4 {
        font-size: .96rem;
    }
}

@media all and (max-width: 347px) {
    .welcome-image-text {
        bottom: 2%;
    }

    .welcome-image-text h1 {
        font-size: 1.4rem;
    }

    .welcome-image-text h4 {
        margin-top: 10px;
    }
}

@media all and (max-width: 230px) {
    .welcome-image-text {
        bottom: 0;
    }

    .welcome-image-text h1 {
        font-size: 1.1rem;
    }

    .welcome-image-text h4 {
        margin-top: 0px;
        font-size: .75rem;
    }
}

.services-box {
    background-color: #f3f3f3;
    padding: 100px 102px 100px 115px;
}

@media all and (max-width: 768px) {
    .services-box {
        padding: 30px 15px;
    }
}

.arbeitssprachen-box {
    padding: 90px 0 100px 0;
}

.arbeitssprachen-box-text {
    padding-left: 60px;
}

@media all and (max-width: 768px) {
    .arbeitssprachen-box {
        padding: 45px 0 50px 0;
        text-align: center;
    }
    
    .arbeitssprachen-box-text {
        padding-left: 25px;
    }
}

.profile-box {
    background-color: #9B225F;
    color: white;
    padding: 60px 30px 9px 30px;
    opacity: 0.85;
    font-size: 0.65rem;
}

.aboutme-box {
    margin-top: 100px;
}

.aboutme-box-sm {
    margin-top: 50px;
}

.aboutme-box .hero-image-container {
    padding-left: 65px;
    padding-right: 65px;
}

@media all and (max-width: 768px) {
    .aboutme-box {
        margin-top: 40px;
    }

    .aboutme-box .hero-image-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.aboutme-image-text {
    position: absolute;
    left: 10%;
    top: 9%;
}

@media all and (max-width: 900px) {
    .aboutme-image-text {
        left: 11%;
        top: 3%;
    }
}

.aboutme-text {
    margin-top: 20px;
    max-width: 45%;
}

@media all and (max-width: 768px) {
    .aboutme-text {
        max-width: 61%;
    }
}

.aboutme-text-sm {
    margin-top: 20px;
    font-size: 1.05rem;
    line-height: 1.4rem;
}

.home-contact-box {
    text-align: center;
    margin-top: 120px;
}

.home-contact-box-addresss {
    margin-top: 72px;
}

@media all and (max-width: 768px) {
    .home-contact-box {
        margin-top: 45px;
    }

    .home-contact-box-addresss {
        margin-top: 40px;
    }
}

/* DOLMETSCHEN */

.hero-gray-bg-interpreting {
    height: 72%;
}

@media all and (max-width: 700px) {
    .hero-gray-bg-interpreting {
        height: 80%;
    }
}

.languages-image-text {
    position: absolute;
    left: 14%;
    top: 20%;
    width: 80%;
    color: #FFFFFF;
}

@media all and (min-width: 1104px) and (max-width: 1330px) {
    .languages-image-text {
        top: 15%;
    }
}

@media all and (min-width: 919px) and (max-width: 1103px) {
    .languages-image-text {
        top: 11%;
    }
}

@media all and (max-width: 918px) {
    .languages-image-text {
        top: 5%;
    }
}

.languages-image-text-sm {
    text-align: center;
}

.languages-text {
    line-height: 1.8rem;
}

.languages-list {
    margin-top: 15px;
    line-height: 2rem;
    list-style: none;
    padding-left: 0;
    font-size: .94rem;
}

.languages-list-sm {
    line-height: 2rem;
    list-style: none;
    padding-left: 0;
}

.events-box {
    margin-top: 90px;
}

@media all and (max-width: 768px) {
    .events-box {
        margin-top: 45px;
    }
}

.event-teaser {
    color: #194d60;
    margin-top: 90px;
    margin-bottom: 20px;
}

@media all and (max-width: 768px) {
    .event-teaser {
        margin-top: 45px;
    }
}

.interpreting-types p {
    margin-bottom: 30px;
}

.interpreting-types a {
    white-space: nowrap;
}

#interpretingTypesModalCarousel .carousel-control-prev-icon, #interpretingTypesModalCarousel .carousel-control-next-icon {
    background-image: none;
    color: #333333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -38px;
}

#interpretingTypesModalCarousel .carousel-control-prev:hover .carousel-control-prev-icon {
    color: #9B225F;
}

#interpretingTypesModalCarousel .carousel-control-next:hover .carousel-control-next-icon {
    color: #9B225F;
}

.conferenceconsulting-box {
    margin-top: 85px;
    padding: 0;
    background-color: #f3f3f3;
}

@media all and (max-width: 768px) {
    .conferenceconsulting-box {
        margin-top: 45px;
    }
}

/* ÜBERSETZEN */

.hero-gray-bg-translating {
    height: 64%;
}

@media all and (max-width: 700px) {
    .hero-gray-bg-translating {
        height: 73%;
    }
}

.languages-image-text-translating {
    position: absolute;
    right: 11%;
    top: 20%;
    width: 80%;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
}

@media all and (min-width: 1104px) and (max-width: 1330px) {
    .languages-image-text-translating {
        top: 15%;
    }
}

@media all and (min-width: 919px) and (max-width: 1103px) {
    .languages-image-text-translating {
        top: 11%;
    }
}

@media all and (max-width: 918px) {
    .languages-image-text-translating {
        top: 5%;
    }
}

.documents-box {
    margin-top: 90px;
}

@media all and (max-width: 768px) {
    .documents-box {
        margin-top: 45px;
    }    
}

/* PROFIL */

.profile-intro-box {
    margin-top: 90px;
}

.hero-gray-bg-profile {
    height: 62%;
}

@media all and (max-width: 768px) {
    .profile-intro-box {
        margin-top: 45px;
    }

    .hero-gray-bg-profile {
        height: 70%;
    }
}

.werdegang-container {
    margin-top: 90px;
}

.werdegang-container thead {
    background-color: #f3f3f3;
}

.werdegang-container thead tr {
    border: none;
}

.werdegang-container thead p {
    font-weight: normal;
}

.werdegang-container .table td, .werdegang-container .table th {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.werdegang-container .table thead th {
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
    border: none;
}

.werdegang-container .cv-year {
    padding-left: 0;
    color: #194d60;
    font-weight: normal;
}

@media all and (max-width: 768px) {
    .werdegang-container {
        margin-top: 45px;
    }
}

/* KONTAKT */

.contact-welcome-image-text {
    position: absolute;
    left: 4%;
    bottom: 20%;
}

@media all and (max-width: 500px) {
    .contact-welcome-image-text h1 {
        font-size: 1.6rem;
    }
}

.contact-welcome-sub {
    margin-top: 20px;
    font-size: 1.2rem;
    letter-spacing: .4px;
}

@media all and (max-width: 768px) {
    .contact-welcome-sub {
        font-size: 1rem;
    }
}

.contact-box {
    margin-top: 22px;
    padding: 0;
    background-color: #f3f3f3;
}

.maps-box {
    padding-right: 0;
}

@media all and (max-width: 768px) {
    .maps-box {
        padding-right: 14px;
        padding-bottom: 14px;
    }
}

/* IMPRESSUM */

.imprint-container {
    margin-top: 90px;
}

@media all and (max-width: 768px) {
    .imprint-container {
        margin-top: 45px;
    }
}

/* AGB */

#accordionAgb {
    margin-top: 50px;
}

@media all and (max-width: 768px) {
    #accordionAgb {
        margin-top: 35px;
    }
}

#headingInterpreting a, #headingTranslating a {
    color: #42bbd6;
    font-size: 1.2rem;
    cursor: pointer;
}

#collapseInterpreting h4, #collapseTranslating h4 {
    margin-top: 25px;
}

/* DATENSCHUTZ */

.privacy-container {
    margin-top: 90px;
}

@media all and (max-width: 768px) {
    .privacy-container {
        margin-top: 45px;
    }
}

/* FOOTER */

.footer {
    background-color: white;
    font-size: 0.86rem;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
}

@media all and (max-width: 768px) {
    .footer {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.footer-links {
    display: flex;
    justify-content: center;
    letter-spacing: .9px;
}

/* @media all and (max-width: 768px) {
    .footer-links {
        justify-content: flex-end;
    }    
} */

@media all and (max-width: 768px) {
    .footer-copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}

.footer-copyright {
    padding-left: 0;
}

.footer-copyright-sign {
    font-size: 1.1rem;
}

@media all and (max-width: 768px) {
    .footer-copyright-sign {
        padding-right: 2px;
    }    
}

.footer-links a {
    color: #000000;
}

.footer-link-separator {
    padding: 0 4px;
}

.footer-memberships {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}