/*
 * COLORS:
 * logo purple: #9B225F
 * logo blue: #4BBAD4
 * text 1st: #121212
 * text 2nd: #333333
 * text blue: #194d60
 * boxes bg: #f7f7f7
 */

html {
    font-size: 17px;
}

body {
    font-family: 'News Cycle', sans-serif;
    line-height: 1.9;
}

h1 {
    font-size: 2rem;
    color: #194d60;
}

h2 {
    font-size: 1.6rem;
    color: #194d60;
}

h3 {
    font-size: 1.3rem;
}

@media all and (max-width: 960px) {
    html {
        font-size: 14px;
    }
}

/* HEADER */

header {
    font-size: .96rem;
    letter-spacing: 0.4px;
    background-color: white;
    position: fixed;
    padding-left: 45px;
    padding-right: 45px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logo {
    max-height: 95px;
    padding: 20px 0 16px 0;
    transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
}

.logo-shrink {
    max-height: 70px;
    padding: 15px 0 12px 0;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    margin: 0 35px 0 0;
    transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
}

.menu-shrink {
    font-size: .9rem;
}

.menu li {
    display: inline;
    list-style-type: none;
    padding: 0 12px;
    text-decoration: none;
}

.menu a {
    color: #323232;
    padding-bottom: 2px;
}

.menu a:hover {
    color: #9B225F;
    text-decoration: none;
}

.menu a.menu-active {
    color: #9B225F;
    border-bottom: 2px solid #9B225F;
}

.header-phone {
    padding: 11px 21px;
    background-color: #f7f7f7;
    border-radius: 30px;
    letter-spacing: .6px;
}

.header-phone-link:hover {
    color: #9B225F;
}

.header-phone-shrink {
    padding: 8px 13px;
}

.header-phone-link {
    color: #323232;
}

.header-phone-icon {
    margin-right: 8px;
    color: #9B225F;
}

/* MAIN */

.main-container {
    background-color: #ffffff;
}

.main {
    padding: 112px 0 0 0; /* padding-top is needed to appear below absolutely positioned header */
}

.purple-line {
    background-color: #9B225F;
    width: 58px;
    height: 1px;
    margin: 0;
}

.call-to-action {
    color: #333333;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    padding: 10px 23px;
    border: 1px solid lightgray;
    border-radius: 30px;
    letter-spacing: .6px;
    font-weight: bold;
    font-size: 0.7rem;
    box-shadow: 2px 2px 28px 1px rgba(0, 0, 0, 0.2);
}

.call-to-action-wide {
    font-size: 0.9rem;
    color: #444;
    background-color: white;
    width: 285px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border: none;
    box-shadow: none;
}

.call-to-action:hover {
    color: #9B225F;
    text-decoration: none;
}

.call-to-action-icon {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 18px;
    color: #5d5d5d;
}

.call-to-action:hover .call-to-action-icon {
    color: #9B225F;
}

/* HOME */

.hero-image-container {
    position: relative;
}

.welcome-image-text {
    position: absolute;
    left: 4%;
    bottom: 24%;
}

.home-centered-text {
    text-align: center;
    font-size: 1.12rem;
    color: #121212;
    padding: 90px 0 60px 0;
}

.services-box {
    background-color: #f7f7f7;
    padding: 100px 102px 100px 115px;
}

.profile-box {
    background-color: #9B225F;
    color: white;
    padding: 60px 30px 9px 30px;
    opacity: 0.85;
    font-size: 0.65rem;
}

.aboutme-image-text {
    position: absolute;
    left: 10%;
    top: 16%;
}

.aboutme-text {
    margin-top: 20px;
    font-size: 1.05rem;
    max-width: 55%;
    line-height: 1.4rem;
}

/* FOOTER */

.footer {
    background-color: white;
    font-size: 0.86rem;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
}

.footer-links {
    display: flex;
    justify-content: center;
    letter-spacing: .9px;
}

.footer-copyright {
    padding-left: 0;
}

.footer-links a {
    color: #000000;
}

.footer-link-separator {
    padding: 0 4px;
}

.footer-memberships {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}