/*
 * COLORS:
 * logo purple: #9B225F
 * logo blue: #4BBAD4
 * text 1st: #121212
 * text 2nd: #333333
 * text dark blue: #194d60
 */

body {
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
    line-height: 1.9;
}

/* HEADER */

header {
    font-size: .98rem;
    letter-spacing: 0.4px;
    background-color: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logo {
    max-height: 95px;
    padding: 20px 10px 16px 45px;
    transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
}

.logo-shrink {
    max-height: 70px;
    padding: 15px 5px 12px 45px;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    font-weight: 600;
    margin: 0 35px 0 0;
    transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
}

.menu-shrink {
    font-size: .9rem;
}

.menu li {
    display: inline;
    list-style-type: none;
    padding: 0 12px;
    text-decoration: none;
}

.menu a {
    color: #323232;
    padding-bottom: 2px;
}

.menu a:hover {
    color: #9B225F;
    text-decoration: none;
}

.menu a.menu-active {
    color: #9B225F;
    border-bottom: 2px solid #9B225F;
}

.header-phone {
    padding: 11px 21px;
    background-color: #f7f7f7;
    border-radius: 30px;
    letter-spacing: .6px;
}

.header-phone-link:hover {
    color: #9B225F;
}

.header-phone-shrink {
    padding: 8px 13px;
}

.header-phone-link {
    color: #323232;
}

.header-phone-icon {
    margin-right: 8px;
    color: #9B225F;
}

.header-gap-right {
    width: 45px;
}

/* MAIN */

.main-container {
    background-color: #ffffff;
}

.main {
    padding: 70px 0 0 0;
}

.centered-text {
    text-align: center;
    font-size: 0.85rem;
    color: #0F0F0F;
    padding: 80px 0;
}

.purple-line {
    background-color: #9B225F;
    width: 58px;
    height: 2px;
}

.call-to-action {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    padding: 10px 24px;
    border: 1px solid lightgray;
    border-radius: 30px;
    letter-spacing: .6px;
    font-weight: 600;
    font-size: 0.7rem;
    box-shadow: 2px 2px 28px 1px rgba(0, 0, 0, 0.2);
}

.call-to-action-wide {
    font-size: 0.9rem;
    color: #444;
    background-color: white;
    width: 320px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border: none;
    box-shadow: none;
}

/* FOOTER */

.footer {
    font-size: 0.9rem;
}